@font-face {
    font-family: 'establishRoomNo703OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRoomNo703OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  html {
    font-size: 16px;
  }
  
  body {
    font-family: 'GangwonEdu_OTFBoldA';
    padding: 10px;
  }
  
  * {
      box-sizing: border-box;
  }
  
  .all_container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #title {
    width: 80%;
    max-width: 800px;
    font-size: 3.3rem;
    background-color: #4fadbb;
    border: 7px solid #4d7d85;
    border-radius: 20px;
    color: white;
    font-family: 'establishRoomNo703OTF';
    padding: 1rem;
    border-radius: 20px;
  }
  
  #title h2 {
    margin-top: 1rem;
  }
  
  .todo__generator {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  #todo__input {
    width: 15rem;
    font-size: 20px;
    padding: 10px 10px 4px 10px;
    font-family: 'GangwonEdu_OTFBoldA';
    border-radius: 5px;
    border: 3px solid rgb(252, 185, 194);
    color: #666;
    outline: none;
    text-align: center;
  }
  
  ul {
    width: 80%;
    max-width: 800px;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgb(255, 219, 219);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 7px solid rgb(252, 185, 194);
    border-radius: 20px;
    box-shadow: 0px 15px rgb(252, 185, 194);
  }
  
  li {
    width: 80%;
    height: 40px;
    max-width: 500px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: GangwonEdu_OTFBoldA;
    border: 3px solid #c45861;
    border-radius: 10px;
    position: relative;
  }
  
  li span {
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 20px;
  }
  
  .todo__delete {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 7px;
  }
  
  .todo__revise {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 50px;
    top: 7px;
  }