.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.DiaryEditor {
  border: 1px solid green;
  padding: 30px;
  width: 600px;
  text-align: center;
}
.DiaryEditor input,
textarea {
  margin-bottom: 20px;
  width: 500px;
  padding: 10px;
}
.DiaryEditor textarea {
  height: 150px;
}
.DiaryEditor select {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}
.DiaryEditor button {
  width: 500px;
  padding: 10px;
  cursor: pointer;
}
/*list*/
.DiaryList {
  border: 1px solid green;
  padding: 20px;
  margin-top: 20px;
  width: 600px;
}
.DiaryList h2 {
  text-align: center;
}

/*item*/
.DiaryItem {
  background-color: rgb(201, 201, 201);
  margin-bottom: 10px;
  padding: 20px;
}
.DiaryItem .info {
  border-bottom: 1px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.DiaryItem .date {
  color: rgb(0, 0, 0);
}
.DiaryItem .content {
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
}
